body{
  background-color: #212121;
}

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
  border:solid;
  border-radius: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background: green;
  font-size: 1.2em;
  
}

.error {
  color: red;
  margin: 1em 0;
  height: 2em;
}

input {
  height: 2em;  
}

.disabled {
  opacity: 0.5;
}